connexion[swagger-ui] >= 2.6.0
swagger-ui-bundle >= 0.0.2
python_dateutil >= 2.6.0
setuptools >= 21.0.0
Flask == 2.1.1
python-multipart~=0.0.6
python-jose~=3.3.0
cryptography~=41.0.2
passlib~=1.7.4
bcrypt~=4.0.1
json-ref-dict>=0.7.1