ca-certificates
gnupg
libbluetooth-dev
libbrotli-dev
libbz2-dev
libc6-dev
libdb-dev
libexpat1-dev
libffi-dev
libfreetype6-dev
libgdbm-dev
libgomp1
libjpeg-dev
liblzma-dev
libncursesw5-dev
libpng16-16
libpthread-stubs0-dev
libquadmath0
libreadline-dev
libsodium-dev
libsqlite3-dev
libssl-dev
libtbb-dev
libwebp-dev
libxau-dev
netbase
tzdata
zlib1g-dev
